* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-gap: 1rem;
}

.left {
  padding: 8rem 3rem;
  color: white;
  background-color: #2ea117;
  min-height: 100vh;
}

.right {
  margin: 0 6rem;
}

ul {
  list-style-type: none;
  padding: 0;
  position: fixed;
}

nav {
  min-width: 70px;
}

ul li {
  margin: 2rem 0;
  color: white;
}

ul li:hover {
  font-weight: bold;
}

input {
  margin-right: 1rem;
  padding: 0.25rem;
}

select {
  padding: 0.25rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

td,
th {
  text-align: left;
  padding: 1rem;
}

tr {
  border: 1px solid lightgrey;
}

th {
  background-color: #2ea117;
  color: white;
}

a {
  color: #2ea117;
}

.plots {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.plots div {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 5px;
}
